<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Pelicula</title>
</head>
<body>
    <h1>Detalle de pelicula:</h1>
    <p>Nombre: <%= pelicula.title %>  </p> 
    <p>Rating: <%= pelicula.rating %>  </p>
    <p>Premios: <%= pelicula.awards %>  </p>
    <p>Duracion: <%= pelicula.lenght %>  </p>
    <p>Fecha de estreno: <%= pelicula.release_date %>  </p>
</body>
</html>